﻿<div>
    <h2>{{developer.DeveloperName}} : Assign  to a Project</h2>
</div>


<table>
    <!--<tr>
        <td>Developer Id</td>
        <td>
            <input type="text" ng-model="New.DeveloperId" ng-disabled="true" /></td>
    </tr>-->

    <tr>
        <td>Project</td>
        <td>
            <select ng-options="project.ProjectId as project.ProjectName for project in projectData" ng-model="New.ProjectId">
                <option style="display: none" value="">---Select---</option>
            </select>
            <a ng-click="project = project.ProjectId">{{project.ProjectName}}</a>

        </td>
    </tr>
    <tr>
        <td>Billing Type</td>
        <td>
            <select ng-options="type.BillingTypeId as type.Description for type in billingData" ng-model="New.BillingTypeId">
                <option style="display: none" value="">---Select---</option>
            </select>
            <a ng-click="type = type.BillingTypeId">{{type.Description}}</a>

        </td>
    </tr>
    <tr>
        <td>Working Category</td>
        <td>
            <select ng-options="category.Id as category.Text for category in workCategoryData" ng-model="New.WorkingCategoryId">
                <option style="display: none" value="">---Select---</option>
            </select>
            <a ng-click="category = category.Id">{{category.Text}}</a>

        </td>
    </tr>
    <tr>
        <td>From Date</td>
        <td>
            <input type="date" ng-model="New.FromDate" /></td>
    </tr>
    <tr>
        <td>To Date</td>
        <td>
            <input type="date" ng-model="New.ToDate" /></td>

    </tr>

</table>


<input id="btnSave" ng-click="update()" type="submit" value="Save" />
<input id="btnNew" ng-click="setNew()" type="submit" value="New" />


<div class="gridStyleDevelperAssignment" ng-grid="gridOptions"></div>
