﻿<div>
    <table>
        <tr>
            <td>User Id</td>
            <td>
                <input type="text" ng-model="New.UserId" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="text" ng-model="New.Password" /></td>
        </tr>
        
    </table>
    <input id="Submit1" ng-click="login()" type="submit" value="submit" />
</div>
