﻿body {
    background: #fff;
    color: #505050;
    font: 14px 'Segoe UI', tahoma, arial, helvetica, sans-serif;
    /*margin: 20px;*/
    padding: 0;
}

#header {
    background: #efefef;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    padding: 0 30px;
    line-height: 75px;
}

p {
    font-size: 20px;
    color: #fff;
    background: #969696;
    padding: 0 30px;
    line-height: 40px;
}

#main {
    padding: 5px 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

li {
    padding: 4px 0;
}

a {
    color: #267cb2;
    text-decoration: none;
    padding: 4px 4px 20px 10px;
}

    a:hover {
        text-decoration: underline;
    }




.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1000px;
    height: 400px;
}

.searchProjectGridStyle {
    border: 1px solid rgb(212,212,212);
    width: 200px;
    height: 400px;
}

.gridStyleDevelperAssignment {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 400px;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.header {
    background-color: #3ab44a;
    color: white;
    font-weight: bold;
}

.item {
    padding-left: 8px;
}

.devname {
    height: 20px;
    background-color: #3ab44a;
}

.dateDiffSlab {
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 4px;
    line-height: 1.5em;
    box-shadow: inset 0px 2px 2px #ececec;
    background-color: #add8e6;
    font-family: Andy;
    font-size: small;
}

.startDateDiffSlab {
    border: none;
    border-color: transparent;
    background-color: lightgrey;
}

.deveNameSlab {
    padding: 5px;
    border: 1px solid #d4d4d4;
    width: 150px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 4px;
    background-color: #3ab44a;
    line-height: 1.5em;
    box-shadow: inset 0px 2px 2px #ececec;
}

.projectSlab {
    height: 30px;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 4px;
    background-color: lightgrey;
    line-height: 1.5em;
    box-shadow: inset 0px 2px 2px #ececec;
}

.projectNameSlab {
    border-width: 1px;
    border-color: #666666;
    width: 150px;
    height: 20px;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 4px;
    display: inline-block;
    background-color: #c0c0c0;
}

.viewDetailButton {
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 4px;
    background-color: #3ab44a;
    line-height: 1.5em;
    box-shadow: inset 0px 2px 2px #ececec;
}
