﻿<div>
    <span><b> Billing Types </b></span>
    <div>
    <table>
        <tr>
            <td>Type Id</td>
            <td><input type="text" ng-model="New.BillingTypeId" ng-disabled="true"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" ng-model="New.Description"/></td>
        </tr>
        <tr>
            <td>Billing Percentage</td>
            <td><input type="text" ng-model="New.BillablePercentage"/></td>
        </tr>
       
    </table>
    <input id="Submit1"  ng-click="update()" type="submit" value="submit" />
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

