﻿<div>
    <span><b> Developer Details </b></span>
    <div>
    <table>
        <tr>
            <td>Developer Id</td>
            <td><input type="text" ng-model="New.DeveloperId" ng-disabled="true"/></td>
        </tr>
        <tr>
            <td>Developer Name</td>
            <td><input type="text" ng-model="New.DeveloperName"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" ng-model="New.Email"/></td>
        </tr>
        <tr>
            <td>Tel</td>
            <td><input type="text" ng-model="New.Tel"/></td>
        </tr>
    </table>
    <input id="Submit1"  ng-click="update()" type="submit" value="submit" />
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>

