﻿<div>
    <span><b>Project Details </b></span>
    <div>
        <table>
            <tr>
                <td>Project Id</td>
                <td>
                    <input type="text" ng-model="New.ProjectId" ng-disabled="true" /></td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td>
                    <input type="text" ng-model="New.ProjectName" /></td>
            </tr>
            <tr>
                <td>Active</td>
                <td>
                    <input type="checkbox" ng-model="New.IsActive" /></td>
            </tr>

        </table>
        <input id="update" ng-click="update()" type="submit" value="Submit" />
      <!--  <input id="new" ng-click="reset()" type="submit" value="Clear" />-->
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
