﻿<body>
    <table width="100%">
        <thead>
            <tr>
                <td>Search Configuration</td>
                <td>Allocation</td>
            </tr>
        </thead>
        <tr>
            <td style="width: 10%;vertical-align:top">

                <div class="searchProjectGridStyle" ng-grid="gridOptions">
                </div>
                <table>
                </table>
                <!--<label>From Date</label>
                <input type="text" id="fromSearchDate" ng-model="New.FromDate" />
                <label>To Date</label>
                <input type="text" id="toSearchDate" ng-model="New.ToDate"/>-->
            </td>
            <td style="width: 90%;vertical-align:top">
                <div id="allocationDiv">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </td>
        </tr>

    </table>
    <div id="showDetail">
        
    </div>

</body>

